* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Flex Grid */

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

/* Base */

body {
  background: #333;
}

body, input, textarea {
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

/* Nav Styles */

.nav {
  position: fixed;
  width: 100%;
  background:  rgba(0,0,0,0);
  display: flex;
  min-height: 3.5rem;
  color: #fff;
  z-index: 100;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  flex-grow: 1;
  /*border: 1px solid red;*/
}

.nav-left,
.nav-right {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.nav-left {
  justify-content: flex-start;
  font-size: 1.3rem;
}

.nav-center {
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
}

.nav-right {
  justify-content: flex-end;
}

.nav-toggle {
    cursor: pointer;
    display: block;
    height: 3.5rem;
    position: relative;
    width: 3.5rem;
    /*border: 1px solid purple;*/
}

.nav-toggle span {
    background-color: #fff;
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    /*-webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
    -webkit-transition-property: background,left,opacity,-webkit-transform;
    transition-property: background,left,opacity,-webkit-transform;
    transition-property: background,left,opacity,transform;
    transition-property: background,left,opacity,transform,-webkit-transform;*/
    width: 15px;
}

.nav-toggle span:nth-child(1) {
    margin-top: -6px;
}

.nav-toggle span:nth-child(2) {
    margin-top: -1px;
}

.nav-toggle span:nth-child(3) {
    margin-top: 4px;
}

.nav-item {
  padding: .5rem .75rem;
  /*background: teal;*/
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
}

.nav-item:hover {
  color: tomato;
}

.dark-header {
  background:  rgba(0,0,0,0.8);
}

/* Hero */
#hero {
  /*background: #333;*/
  width: 100%;
  height: 100%;
  max-height: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

/* Main */

.about {
  background: #ccc;
  padding: 5%;
}

.about .flex-grid {
  text-align: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.portrait {
  max-width: 100%;
  height: auto;
  flex-grow: 0;
}

.portrait img {
  border-radius: 50%;
  border: 5px solid #333;
}

.about .title {
  padding: 2% 0;
  font-size: 2rem;
}

.about-me {
  padding: 2% 0;
  flex-grow: 1;
}

.skills {
  padding: 0;
  background: #333;
}

.skill {
  text-align: center;
  color: #fff;
  max-width: 400px;
  margin: 20px auto;
  padding: 5% 0;
}

.skill .fa {
  font-size: 5rem;
}

.skill h3 {
  color: tomato;
  margin: 50px 0;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #222;
}

.portfolio {
  background: #333;
  max-width: 100%;
}

.project {
  background: url('../img/200.jpg');
  background-position: center;
  background-size: cover;
  border: 3px solid black;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0;
}

.project:nth-of-type(1) {
  background: url('../img/naomi.png');
  background-position: center;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.contact {
  background: #333;
  padding: 2%;
  color: #fff;
}

.contact-me {
  text-align: center;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form */

form,
#form-messages {
  max-width: 500px;
  margin: 2% auto;
}

input,
textarea,
button[type="submit"] {
  width: 100%;
  padding: 2%;
  border-radius: 3px;
}

input,
textarea {
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ccc;
}

button[type="submit"] {
  color: #fff;
  background: tomato;
  cursor: pointer;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  border-radius: 4px;
}

/* Footer */

footer {
  background: #ccc;
  color: #333;
  text-align: center;
  padding: 1% 0;
}

/* Media Queries */
@media screen and (max-width: 992px) {

  .flex-grid {
    display: block;
  }

  .nav-menu {
      box-shadow: 0 4px 7px rgba(10,10,10,.1);
      left: 0;
      display: none;
      right: 0;
      top: 100%;
      position: absolute;
      background:  rgba(0,0,0,0.8);
  }

  .nav-menu .nav-item {
    justify-content: flex-start;
    font-size: 2rem;
  }

  .active {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }

  .about-me {
    padding-left: 10%;
  }
}
